* {
  background: black;
}

.container{
  text-align: center;
  align-content: center;
  color: #eee;
}

.MenuContainer{
  text-align: center;
  align-content: center;
  color: #eee;
}

.box{
  width: 100px;
  height: 100px;
  border: 1px solid white;
  display:  flex;
  line-height: 80px;
  justify-content: center;
  font-size: 45px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.box:hover {
  background: gray;
}

.box:nth-child(7), .box:nth-child(8), .box:nth-child(9) {
  border-bottom: 0;
}

.box:nth-child(1), .box:nth-child(2), .box:nth-child(3) {
  border-top: 0;
}

.box:nth-child(3n+1) {
  border-left: 0;
}

.box:nth-child(3n) {
  border-right: 0;
}

.board{
  display: inline-flex;
  flex-wrap: wrap;
  width: 305px;
  color: #eee;
}

.buttons{
  display: inline-flex;
  width: 400px;
  color: #eee;
}

.button{
  width: 140px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  line-height: 50px;
  justify-content: center;
  cursor: pointer;
}

.button:hover{
  background: gray;
}